<div style="
    position: fixed;
    width: 100%;
    height: 100%;
">
    <div style="
        width:100%; 
        height:100%; 
        display:block; 
        position:absolute; 
        background-image:url(/originals/{{.item}});
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #222;
        "
    >
        <button 
            hx-target="#original_view"
            hx-get="/original/{{.previousItem}}"
            hx-trigger="click, keyup[key=='ArrowLeft'] from:body, keyup[key=='ArrowUp'] from:body"
        >
            Newer
        </button>

        <button
            hx-target="#original_view"
            hx-get="/empty"
            hx-trigger="click, keyup[key=='Escape'] from:body"
        >
            Close
        </button>

        <button
            hx-target="#original_view"
            hx-get="/original/{{.nextItem}}"
            hx-trigger="click, keyup[key=='ArrowRight'] from:body, keyup[key=='ArrowDown'] from:body"
        >
            Older
        </button>

    </div>
</div>