body, html, p, div, img {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	width: 98%;
  background-color: #333;
  color: #333;
}

div#gallery {
	width: 804px;
	border: 1px solid #333;
	margin: 0 auto;
	text-align: left;
}

div.picture {
	display: inline-block;
	width:200px;
	height:200px;
	background:#eee;
	font-size:2em;
}

div.hoverShowEarlier {
	border-left: 10px solid rgb(90, 147, 189);
	box-sizing: border-box;
}

div.hoverShowLater {
	border-right: 10px solid rgb(90, 147, 189);
	box-sizing: border-box;
}

div.loading {
	text-align: center;
}

div.loading img {
	margin: 0 auto;
}


@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #eee;
  }

  div#gallery {
  	border: 1px solid #444;
  }
}